[Desktop Entry]
Version=1.0
Type=Application
Name=HSV - Tuner
Comment=HSV - Tuner
Exec=/usr/bin/launch-HSV-app.sh
Icon=/root/.icons/hsv-bound.png
Terminal=false
X-KeepTerminal=false
StartupNotify=true
